Repository omoch1-2357/Reversi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, python-ruff-format, python-ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (rust)
        entry: cargo fmt --manifest-path rust/Cargo.toml --all
        language: system
        pass_filenames: false
        files: ^rust/.*\.rs$
      - id: python-ruff-format
        name: ruff format (python)
        entry: python -m ruff format python
        language: system
        pass_filenames: false
        files: ^python/.*\.py$
      - id: python-ruff-check
        name: ruff check (python)
        entry: python -m ruff check python
        language: system
        pass_filenames: false
        files: ^python/.*\.py$

fix(ci): restore wasm build and deterministic wasm expectations
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  web/e2e/app.e2e.spec.ts
  web/src/workers/wasm.worker.test.ts
Due: cargo-fmt

fix(wasm): compare canonical tie-break keys in wasm test
  rust/src/lib.rs
Due: cargo-fmt

fix(wasm): align test tie-break symmetry helper
  rust/src/lib.rs
Due: cargo-fmt

docs: refresh repository guidelines
  AGENTS.md
Due: none

feat(ai): add resumable training checkpoints
  .gitignore
  python/rust_training.py
  python/rust_training_ext/Cargo.lock
  python/rust_training_ext/src/lib.rs
  python/tests/test_rust_training.py
  python/tests/test_train.py
  python/train.py
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

feat(game): add turn order selection and model-path builds
  rust/build.rs
  rust/src/bin/benchmark_matchups.rs
  rust/src/game.rs
  rust/src/lib.rs
  rust/tests/playthrough_and_determinism.rs
  web/README.md
  web/package.json
  web/scripts/build-wasm.mjs
  web/scripts/build-web.mjs
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/components/GameInfo.test.tsx
  web/src/components/GameInfo.tsx
  web/src/components/LevelSelect.test.tsx
  web/src/components/LevelSelect.tsx
  web/src/constants/accessibility.ts
  web/src/hooks/useGame.test.tsx
  web/src/hooks/useGame.ts
  web/src/styles/LevelSelect.module.css
  web/src/test/mocks/reversi.ts
  web/src/types/player.ts
  web/src/wasm/index.test.ts
  web/src/wasm/index.ts
  web/src/workers/wasm.worker.test.ts
  web/src/workers/wasm.worker.ts
Due: cargo-fmt

fix(e2e): align playwright flows with new start options
  web/e2e/app.e2e.spec.ts
  web/e2e/compat.e2e.spec.ts
  web/e2e/helpers.ts
Due: none

perf(training): prune self-play search with alpha-beta
  rust/src/training.rs
Due: cargo-fmt

fix(training): harden model weight stability
  python/train.py
  rust/src/ai/ntuple.rs
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

feat(training): learn final stone difference targets
  docs/DESIGN.md
  python/rust_training_ext/src/lib.rs
  python/td_lambda.py
  python/tests/test_td_lambda.py
  python/train.py
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

perf(training): add incremental feature updates
  python/tests/test_train.py
  python/train.py
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

feat(benchmark): support direct model matchups
  rust/src/bin/benchmark_matchups.rs
Due: cargo-fmt

perf(training): speed up release loading and depth-2 self-play
  python/rust_training.py
  python/tests/test_rust_training.py
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

perf(training): improve parallel merge throughput
  rust/src/training.rs
Due: cargo-fmt

perf(training): speed up self-play and expose raw timing
  python/rust_training.py
  python/rust_training_ext/src/lib.rs
  python/tests/test_rust_training.py
  rust/src/ai/ntuple.rs
  rust/src/board.rs
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

feat(training): add status file progress reporting
  python/tests/test_train.py
  python/train.py
Due: python-ruff-format, python-ruff-check

feat(training): add alpha decay schedule
  python/rust_training.py
  python/rust_training_ext/src/lib.rs
  python/tests/test_rust_training.py
  python/tests/test_train.py
  python/train.py
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

feat(training): add inverse-visit alpha decay
  python/tests/test_rust_training.py
  python/tests/test_train.py
  python/train.py
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check

feat(training): upgrade model format to v4
  python/convert_model.py
  python/export_model.py
  python/tests/test_convert_model.py
  python/tests/test_export_model.py
  python/tests/test_train.py
  python/train.py
  rust/src/ai/ntuple.rs
  rust/src/training.rs
Due: cargo-fmt, python-ruff-format, python-ruff-check
