Repository omoch1-2357/Reversi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, python-ruff-format, python-ruff-check

cargo-fmt:
  name: cargo fmt (rust)
  entry: cargo fmt --manifest-path rust/Cargo.toml --all
  language: system
  pass_filenames: false

python-ruff-format:
  name: ruff format (python)
  entry: python -m ruff format python
  language: system
  pass_filenames: false

python-ruff-check:
  name: ruff check (python)
  entry: python -m ruff check python
  language: system
  pass_filenames: false

fix(web): make wasm worker integration test resilient in CI
  web/src/workers/wasm.worker.test.ts
Due: none

test(web): document deterministic result baseline
  web/src/workers/wasm.worker.test.ts
Due: none

fix(ci): require and build real wasm for deterministic worker tests
  .github/workflows/web-quality.yml
  web/src/workers/wasm.worker.test.ts
Due: none

fix(ci): pin wasm-pack and align deterministic wasm init
  .github/workflows/web-quality.yml
  web/src/workers/wasm.worker.test.ts
Due: none

fix(ci): use v-prefixed wasm-pack version in web-quality workflow
  .github/workflows/web-quality.yml
Due: none

fix(ci): pin rust-toolchain action version in web-quality
  .github/workflows/web-quality.yml
Due: none

feat(web): implement phase 4-4 react components
  docs/TASKS.md
  web/src/App.css
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/components/Board.test.tsx
  web/src/components/Board.tsx
  web/src/components/Cell.tsx
  web/src/components/GameInfo.test.tsx
  web/src/components/GameInfo.tsx
  web/src/components/LevelSelect.test.tsx
  web/src/components/LevelSelect.tsx
  web/src/components/ResultModal.test.tsx
  web/src/components/ResultModal.tsx
  web/src/index.css
  web/src/styles/Board.module.css
  web/src/styles/Cell.module.css
  web/src/styles/GameInfo.module.css
  web/src/styles/LevelSelect.module.css
  web/src/styles/ResultModal.module.css
Due: none

docs: align phase 4-4 with simple flip display
  docs/DESIGN.md
  docs/REQUIREMENTS.md
  docs/TASKS.md
Due: none

fix(web): address app flow review findings
  web/e2e/app.e2e.spec.ts
  web/src/App.tsx
  web/src/components/GameInfo.test.tsx
  web/src/components/GameInfo.tsx
  web/src/components/LevelSelect.test.tsx
  web/src/components/ResultModal.tsx
  web/src/styles/Cell.module.css
  web/src/styles/LevelSelect.module.css
  web/src/types/player.ts
Due: none

fix(web): wire selected level into demo flow
  web/src/App.tsx
  web/src/components/LevelSelect.test.tsx
  web/src/styles/LevelSelect.module.css
Due: none

fix(web): guard preview during ai thinking
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/demoAi.ts
Due: none

fix(web): enforce legal ai move selection
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/demoAi.ts
Due: none

fix(web): compute flips and legal moves from board state
  web/src/App.test.tsx
  web/src/App.tsx
Due: none

feat(web): add useGame worker lifecycle hook
  docs/TASKS.md
  web/src/hooks/useGame.test.tsx
  web/src/hooks/useGame.ts
Due: none

fix(web): correlate worker responses by request id
  web/src/hooks/useGame.test.tsx
  web/src/hooks/useGame.ts
  web/src/workers/wasm.worker.test.ts
  web/src/workers/wasm.worker.ts
Due: none

fix(web): stabilize useGame worker lifecycle and requestId tests
  web/src/hooks/useGame.ts
  web/src/workers/wasm.worker.test.ts
Due: none

fix(web): reject invalid worker response ids and cleanup pending
  web/src/hooks/useGame.ts
  web/src/workers/wasm.worker.test.ts
Due: none

fix(web): ignore stale worker responses for active pending request
  web/src/hooks/useGame.ts
Due: none

feat(web): complete responsive layout
  .gitignore
  docs/TASKS.md
  web/src/App.css
  web/src/components/Board.tsx
  web/src/components/GameInfo.tsx
  web/src/index.css
  web/src/styles/Board.module.css
  web/src/styles/Cell.module.css
  web/src/styles/GameInfo.module.css
  web/src/styles/LevelSelect.module.css
  web/src/styles/ResultModal.module.css
Due: none

fix(web): simplify responsive ui
  web/src/App.css
  web/src/index.css
  web/src/styles/Board.module.css
  web/src/styles/Cell.module.css
  web/src/styles/GameInfo.module.css
  web/src/styles/LevelSelect.module.css
  web/src/styles/ResultModal.module.css
Due: none

fix(web): preserve board minimum content width
  web/src/styles/Board.module.css
Due: none

fix(web): use board style tokens consistently
  web/src/styles/Board.module.css
Due: none

feat(web): integrate game flow and result controls
  docs/TASKS.md
  web/e2e/app.e2e.spec.ts
  web/src/App.css
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/components/GameInfo.test.tsx
  web/src/components/GameInfo.tsx
  web/src/components/LevelSelect.test.tsx
  web/src/components/LevelSelect.tsx
  web/src/components/ResultModal.test.tsx
  web/src/components/ResultModal.tsx
  web/src/styles/ResultModal.module.css
  web/src/workers/wasm.worker.test.ts
  web/src/workers/wasm.worker.ts
Due: none

test(web): cover pass and init error branches
  web/src/App.tsx
  web/src/components/GameInfo.test.tsx
  web/src/components/LevelSelect.test.tsx
Due: none

fix(web): guard app transitions from duplicate requests
  web/src/App.test.tsx
  web/src/App.tsx
Due: none

Update web/src/App.test.tsx
  web/src/App.test.tsx
Due: none

ci: add phase 5-1 workflow
  .github/workflows/python-check-reusable.yml
  .github/workflows/python-quality.yml
  .github/workflows/rust-quality.yml
  .github/workflows/test.yml
  .github/workflows/web-quality.yml
  docs/TASKS.md
  rust/src/lib.rs
  web/e2e/compat.e2e.spec.ts
  web/e2e/helpers.ts
  web/package.json
  web/playwright.config.ts
  web/scripts/check-wasm-size.mjs
Due: cargo-fmt

fix(ci): stabilize browser compatibility checks
  .github/workflows/test.yml
  rust/src/lib.rs
  web/e2e/compat.e2e.spec.ts
  web/eslint.config.js
  web/playwright.config.ts
Due: cargo-fmt

fix(web): share accessibility labels with e2e tests
  web/e2e/compat.e2e.spec.ts
  web/e2e/helpers.ts
  web/src/components/Cell.tsx
  web/src/components/GameInfo.tsx
  web/src/components/ResultModal.tsx
  web/src/constants/accessibility.ts
Due: none

docs: mark phase 5-1 CI workflow complete
  docs/TASKS.md
Due: none

ci: add GitHub Pages deploy workflow
  .github/workflows/deploy.yml
  docs/TASKS.md
Due: none

feat(python): add intermediate output
  python/td_lambda.py
  python/tests/test_td_lambda.py
  python/tests/test_train.py
  python/train.py
Due: python-ruff-format, python-ruff-check

feat(training): move training pipeline into rust core
  .github/workflows/test.yml
  .gitignore
  docs/DESIGN.md
  docs/REQUIREMENTS.md
  python/requirements.txt
  python/rust_training.py
  python/rust_training_ext/Cargo.lock
  python/rust_training_ext/Cargo.toml
  python/rust_training_ext/src/lib.rs
  python/tests/test_rust_training.py
  python/train.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/board.rs
  rust/src/lib.rs
  rust/src/training.rs
  scripts/train-model.ps1
  scripts/train-model.sh
Due: cargo-fmt, python-ruff-format, python-ruff-check

chore(scripts): update training script defaults
  scripts/train-model.ps1
  scripts/train-model.sh
Due: none

perf(training): optimize self-play hot path
  rust/src/board.rs
  rust/src/training.rs
Due: cargo-fmt

fix(ci): address training pipeline review findings
  .github/workflows/test.yml
  python/requirements.txt
  python/rust_training.py
  python/rust_training_ext/src/lib.rs
  python/tests/test_rust_training.py
  scripts/train-model.sh
Due: python-ruff-format, python-ruff-check

fix(python): release gil during rust training
  python/rust_training.py
  python/rust_training_ext/src/lib.rs
  python/tests/test_rust_training.py
  scripts/train-model.sh
Due: python-ruff-format, python-ruff-check

feat(rust): strengthen self-play and search ordering
  docs/DESIGN.md
  rust/src/ai/search.rs
  rust/src/board.rs
  rust/src/training.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: ^rust/.*\.rs$
  python-ruff-format: any of: ^python/.*\.py$
  python-ruff-check: any of: ^python/.*\.py$
