Repository omoch1-2357/Reversi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, python-ruff-format, python-ruff-check

cargo-fmt:
  name: cargo fmt (rust)
  entry: cargo fmt --manifest-path rust/Cargo.toml --all
  language: system
  pass_filenames: false

python-ruff-format:
  name: ruff format (python)
  entry: python -m ruff format python
  language: system
  pass_filenames: false

python-ruff-check:
  name: ruff check (python)
  entry: python -m ruff check python
  language: system
  pass_filenames: false

fix(ci): address python quality review findings
  .coderabbit.yaml
  .github/workflows/python-check-reusable.yml
  .github/workflows/python-quality.yml
  docs/DESIGN.md
  docs/REQUIREMENTS.md
  docs/TASKS.md
  python/requirements.txt
  python/tests/test_board.py
Due: python-ruff-format, python-ruff-check

fix(python): bump numpy pin and verify initial board counts
  python/requirements.txt
  python/tests/test_board.py
Due: python-ruff-format, python-ruff-check

feat(python): implement ntuple network with rotational symmetries
  docs/DESIGN.md
  docs/REQUIREMENTS.md
  docs/TASKS.md
  python/ntuple.py
  python/tests/test_ntuple.py
Due: python-ruff-format, python-ruff-check

fix(python): align ntuple symmetry behavior docs and tests
  docs/DESIGN.md
  docs/REQUIREMENTS.md
  python/ntuple.py
  python/tests/test_ntuple.py
Due: python-ruff-format, python-ruff-check

feat(python): implement td-lambda trainer and tests for phase 2-4
  docs/TASKS.md
  python/td_lambda.py
  python/tests/test_td_lambda.py
Due: python-ruff-format, python-ruff-check

fix(python): use lambda-return cumulative td update
  python/td_lambda.py
  python/tests/test_td_lambda.py
Due: python-ruff-format, python-ruff-check

fix(python): flip lambda-return sign across player turns
  python/td_lambda.py
  python/tests/test_td_lambda.py
Due: python-ruff-format, python-ruff-check

feat(python): add weights.bin export and validation tests
  docs/TASKS.md
  python/export_model.py
  python/tests/test_export_model.py
Due: python-ruff-format, python-ruff-check

fix(python): validate tuple indices and pack header atomically
  python/export_model.py
  python/tests/test_export_model.py
Due: python-ruff-format, python-ruff-check

chore(test): isolate pytest temp dirs and ignore tmp artifacts
  .gitignore
  pytest.ini
Due: none

feat(python): implement train pipeline CLI
  docs/TASKS.md
  python/tests/test_train.py
  python/train.py
Due: python-ruff-format, python-ruff-check

fix(python): use tmp_path tests and CLI error exit
  python/tests/test_train.py
  python/train.py
Due: python-ruff-format, python-ruff-check

refactor(python): tighten train tests and unpack intent
  python/tests/test_train.py
  python/train.py
Due: python-ruff-format, python-ruff-check

refactor(python): remove redundant Path conversion
  python/train.py
Due: python-ruff-format, python-ruff-check

feat(rust): implement n-tuple evaluator deserialization and inference
  docs/TASKS.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/ai/mod.rs
  rust/src/ai/ntuple.rs
  rust/src/ai/weights.bin
  rust/src/lib.rs
Due: cargo-fmt

docs: update agent execution rules
  AGENTS.md
Due: none

feat(rust): implement phase 3-2 alpha-beta searcher
  docs/TASKS.md
  rust/src/ai/mod.rs
  rust/src/ai/search.rs
Due: cargo-fmt

fix(rust): tighten search move selection safeguards
  rust/src/ai/search.rs
Due: cargo-fmt

fix(rust): enforce timeout boundary and strict tie-break
  rust/src/ai/search.rs
Due: cargo-fmt

feat(rust): implement wasm public api in lib.rs
  docs/TASKS.md
  rust/src/lib.rs
Due: cargo-fmt

fix(rust): deduplicate player constants and simplify init_game
  rust/src/game.rs
  rust/src/lib.rs
Due: cargo-fmt

test(rust): add wasm api flow/determinism checks
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/ai/search.rs
  rust/src/lib.rs
Due: cargo-fmt

test(rust): cover wasm api error contracts and tie-break
  rust/src/lib.rs
Due: cargo-fmt

refactor(rust): deduplicate ai pass/endgame handling
  rust/src/lib.rs
Due: cargo-fmt

refactor(rust): reuse search selector in tie-break test
  rust/src/lib.rs
Due: cargo-fmt

test(rust): add playthrough and determinism coverage
  docs/TASKS.md
  rust/src/ai/search.rs
  rust/tests/playthrough_and_determinism.rs
Due: cargo-fmt

test(rust): assert legal non-timeout deterministic search moves
  rust/src/ai/search.rs
  rust/tests/playthrough_and_determinism.rs
Due: cargo-fmt

test(rust): implement wasm API integration tests for phase 3-5
  docs/TASKS.md
  rust/src/ai/search.rs
  rust/src/game.rs
  rust/src/lib.rs
Due: cargo-fmt

chore(web): initialize Vite React TypeScript app and WASM plugin config
  docs/TASKS.md
  web/.gitignore
  web/README.md
  web/eslint.config.js
  web/index.html
  web/package-lock.json
  web/package.json
  web/public/vite.svg
  web/src/App.css
  web/src/App.tsx
  web/src/assets/react.svg
  web/src/index.css
  web/src/main.tsx
  web/src/wasm/index.ts
  web/tsconfig.app.json
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Due: none

fix(web): address phase 4-1 review findings
  web/README.md
  web/eslint.config.js
  web/index.html
  web/package.json
  web/src/App.tsx
  web/src/index.css
  web/src/main.tsx
Due: none

test(web): add app unit and e2e smoke tests
  web/.gitignore
  web/e2e/app.e2e.spec.ts
  web/package-lock.json
  web/package.json
  web/playwright.config.ts
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/test/setup.ts
  web/vitest.config.ts
Due: none

ci(web): add web quality workflow and pre-commit lint hook
  .github/workflows/web-quality.yml
  .pre-commit-config.yaml
Due: none

feat(web): add typed wasm wrapper for phase 4-2
  docs/TASKS.md
  web/src/wasm/index.ts
Due: none

fix(web): validate wasm wrapper init and retry behavior
  web/src/wasm/index.test.ts
  web/src/wasm/index.ts
Due: none

fix(web): make wasm wrapper tests independent from generated pkg
  web/src/test/mocks/reversi.ts
  web/vitest.config.ts
Due: none

test(web): add wasm readiness guards and placeStone bounds validation
  web/src/wasm/index.test.ts
  web/src/wasm/index.ts
Due: none

feat(web): implement wasm worker message loop for phase 4-3
  docs/TASKS.md
  web/src/workers/wasm.worker.test.ts
  web/src/workers/wasm.worker.ts
Due: none

fix(web): avoid wasm init on unknown worker messages
  web/src/workers/wasm.worker.test.ts
  web/src/workers/wasm.worker.ts
Due: none

fix(web): guard worker message shape and cap ai loop
  web/src/workers/wasm.worker.test.ts
  web/src/workers/wasm.worker.ts
Due: none

fix(web): validate worker payloads and add deterministic flow tests
  web/e2e/app.e2e.spec.ts
  web/src/App.tsx
  web/src/workers/wasm.worker.test.ts
  web/src/workers/wasm.worker.ts
Due: none

Path conditions:
  cargo-fmt: any of: ^rust/.*\.rs$
  python-ruff-format: any of: ^python/.*\.py$
  python-ruff-check: any of: ^python/.*\.py$
